<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>SigmaCodes | Home</title>
</head>
<body>
  <header>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="container-fluid nav-heading">
            <a class="navbar-brand" href="#"><b>SigmaCodes</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.sigmacodes.tech/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.sigmacodes.tech/dashboard">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Services
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="https://www.sigmacodes.tech/dashboard">Data visualization dashboard</a></li>
                    <li><a class="dropdown-item" href="#">Data analysis</a></li>
                    <li><a class="dropdown-item" href="#">Get a research assistant</a></li>
                    <li><a class="dropdown-item" href="#">Research consultation</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sigmacodes: Telling stories with data</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="htpps://www.sigmacodes.tech">Register</a>
                </li>
              </ul>
              
            </div>
          </div>
        </nav>
      </div>
  </header>
    
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="d-flex align-items-center flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight">
          <h1 style="text-align: center; margin-top: 150px; color: #182638; font-size: 40px;">
            Welcome to <span style="font-style: italic; color: chocolate;">SigmaCodes</span>
          </h1>
        </div>
        <div class="p-2 bd-highlight" style="margin-bottom: 80px;">
          <form class="d-flex search">
            <input class="form-control me-2 search" type="search" placeholder="Enter email to subscribe" aria-label="Search">
            <button class="btn btn-outline-success" id="subscribe" type="submit">Subscribe</button>
          </form>
        </div>
    </div>
    <div class="row justify-content-center">
      <div class="p-2 bd-highlight">
        <img src="images01.png" class="rounded mx-auto d-block"
        style="width: 70%;">
      </div>
    </div>
</div>
<footer class="py-3 my-0">
  <!-- <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="{% url 'landing-home' %}" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href="{% url 'landing-about' %}" class="nav-link px-2 text-muted">About</a></li>
    <li class="nav-item"><a href="{% url 'dashboard-data' %}" class="nav-link px-2 text-muted">Dashboard</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Services</a></li>
    <li class="nav-item"><a href="{% url 'landing-home' %}" class="nav-link px-2 text-muted">Register</a></li>
  </ul> -->
  <p class="text-center text-muted">&copy; 2023 Dr-Plain ALX</p>
</footer>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
